{%- extends "ports.j2" %}
{% block with_service_ports %}
[config]
# Debug Info

## service_ports

```json
{{ service_ports | tojson(indent=2)}}
```

## postgresql_backend
```json
{{ postgresql_backend | tojson(indent=2)}}
```
{% endblock %}