{#- Configuration file for Stalwart Mail Server -#}
{%- extends "ports.j2" -%}
{%- block with_service_ports -%}
[config]
local-keys = [ "store.*", "directory.*", "tracer.*", "!server.blocked-ip.*", "!server.allowed-ip.*", "!server.hostname",
               "server.*", "authentication.fallback-admin.*", "!cluster.key", "cluster.*",   "config.local-keys.*",
               "jmap.*", "storage.data", "storage.blob", "storage.lookup", "storage.fts", "storage.directory",
               "certificate.*", "http.allowed-endpoint", "http.allowed-endpoint.*" ]

[cluster]
node-id={{ node_id }}
bind-addr="[::]"
bind-port=1179
coordinator="redis"

{#- Set up a listener for every service #}
{%- set node_services = node_services.split(',') %}
{% for service in node_services %}
[server.listener."{{ service_ports[service]['listener'] }}"]
bind=["[::]:{{ service_ports[service]['port'] }}"]
protocol="{{ service_ports[service]['protocol'] }}"
{%-   if service in ['https', 'imaps', 'jmap', 'management', 'managesieve', 'pop3s', 'smtps'] %}
tls.implicit=true
{%-   endif %}
{% endfor %}
[storage]
data="postgresql"
fts="postgresql"
blob="s3"
lookup="redis"
directory="keycloak"

[directory."keycloak"]
auth.method = "{{ keycloak_backend['auth_method'] }}"
auth.username = "{{ keycloak_backend['auth_username'] }}"
auth.secret = "{{ keycloak_backend['auth_secret'] }}"
endpoint.method = "{{ keycloak_backend['endpoint_method'] }}"
endpoint.url = "{{ keycloak_backend['endpoint_url'] }}"
fields.email = "{{ keycloak_backend['fields_email'] }}"
{%- if 'fields_username' in keycloak_backend %}
fields.username = "{{ keycloak_backend['fields_username'] }}"
{%- endif %}
{%- if 'fields_full_name' in keycloak_backend %}
fields.full-name = "{{ keycloak_backend['fields_full_name'] }}"
{%- endif %}
timeout = "{{ keycloak_backend['timeout'] }}"
type = "oidc"

[store."postgresql"]
type="postgresql"
host="{{ postgresql_backend['host'] }}"
port={{ postgresql_backend['port'] if 'port' in postgresql_backend else 5432 }}
database="{{ postgresql_backend['database'] }}"
user="{{ postgresql_backend['user'] }}"
password="{{ postgresql_backend['password'] }}"
timeout="{{ postgresql_backend['timeout'] if 'timeout' in postgresql_backend else '15s' }}"
read-from-replicas=true

{%- if 'tls' in postgresql_backend %}
{%- set tls_enable="true" if 'enable' in postgresql_backend['tls'] and postgresql_backend['tls']['enable'] else "false"  %}
{% set tls_invalid_certs="true" if 'allow-invalid-certs' in postgresql_backend['tls'] and postgresql_backend['tls']['allow-invalid-certs'] else "false" %}
[store."postgresql".tls]
enable={{ tls_enable }}
allow-invalid-certs={{ tls_invalid_certs }}
{%- endif %}

[store."s3"]
type="s3"
bucket="{{ s3_backend['bucket'] }}"
region="{{ s3_backend['region'] }}"

[store."redis"]
type="redis"
redis-type="cluster"
urls={{ redis_backend }}
timeout="{{ redis_backend['timeout'] if 'timeout' in redis_backend else '15s' }}"
read-from-replicas=true
protocol-version="resp3"

[tracer."stdout"]
type="stdout"
level="info"
ansi=false
enable=true

[authentication.fallback-admin]
user="admin"
secret="{{ fallback_admin_password }}"

{% if jmap %}{{ jmap_toml }}{% endif -%}
{% if spam_filter %}{{ spam_filter_toml }}{% endif -%}
{%- if 'management' in node_services or 'https' in node_services -%}
[http]
allowed-endpoint=
{%-   if 'management' in node_services -%}
  "200"
{%-    elif 'https' in node_services -%}
    [
    {if="remote_ip == '127.0.0.1'",then="200"},
    {if="starts_with(url_path, '/.well-known/')",then="200"},
    {if="starts_with(url_path, '/healthz/ready')",then="200"},
    {if="starts_with(url_path, '/robots.txt')",then="200"},
{%-     for path in https_paths.split(',') %}
    {if="starts_with(url_path, '{{path}}')",then="200"},
{%-     endfor %}
    {else="404"}
]
{%    endif -%}
{%  endif %}
{% endblock %}