{#- systemd service config for Stalwart Mail Server's Docker container -#}
{%- extends "ports.j2" -%}
{% block with_service_ports %}
[Unit]
Description=Stalwart Mail Server
Documentation=https://stalw.art/docs/get-started
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
Type=exec
ExecStartPre=-docker exec stalwart stop
ExecStartPre=-docker rm stalwart
ExecStart=docker run --rm --name stalwart \
    -v /opt/stalwart:/opt/stalwart \
    {% for service in node_services.split(',') -%}
    -p {{ service_ports[service]['port'] }}:{{ service_ports[service]['port'] }} \
    {% endfor -%}
    {{ stalwart_image }}
ExecStop=docker stop stalwart
RestartSec=2

[Install]
WantedBy=default.target
{% endblock %}