Jinja2>=3.1,<4.0
pulumi_cloudflare==6.6.0
-e /home/rjung/workspace/thunderbird/pulumi
# tb_pulumi @ git+https://github.com/thunderbird/pulumi.git@create-multi-tier-vpc-arch-for-private-nat-egress
toml>=0.10.2,<0.11
