# test server host and ports
TEST_SERVER_HOST = "<server.name.here>"
TEST_SMTP_PORT = 465
TEST_IMAP_PORT = 993

# main load test account that will be sending emails (and mailboxes created in)
LOAD_TEST_ACCT_USERNAME = "<username>"
LOAD_TEST_ACCT_PASSWORD = "<password>"
LOAD_TEST_ACCT_EMAIL = "<email address assocated with test_acct creds>" # msgs will be sent from here

# test email and associated credentials where the load test emails will be sent to (on the same server)
LOAD_TEST_TO_EMAIL = "<email address to receive test messages>" # msgs will be sent to here
LOAD_TEST_TO_EMAIL_ACCT_USERNAME = "<username>"
LOAD_TEST_TO_EMAIL_ACCT_PASSWORD = "<password>"
