# Test server host and ports
TEST_SERVER_HOST = "<server.name.here>"
TEST_SMTP_PORT = 465
LOAD_TEST_ACCT_USERNAME = "<username>"
LOAD_TEST_ACCT_PASSWORD = "<password>"
LOAD_TEST_ACCT_EMAIL = "<email address assocated with test_acct creds>" # msgs will be sent from here
LOAD_TEST_TO_EMAIL = "<email address to receive test messages>" # msgs will be sent to here
