# Test server host and ports
TEST_SERVER_HOST = "server.name.here"
TEST_IMAP_PORT = 993
TEST_SMTP_PORT = 465

# Mailstrom test accounts (must exist on the host)
TEST_ACCT_1_USERNAME = "username"
TEST_ACCT_1_PASSWORD = "password"
TEST_ACCT_1_EMAIL = "email address assocated with test_acct_1 creds"

TEST_ACCT_2_USERNAME = "username"
TEST_ACCT_2_PASSWORD = "password"
TEST_ACCT_2_EMAIL = "email address assocated with test_acct_2 creds"

# logging level, set to DEBUG to debug locally
LOG_LEVEL = 'INFO'
